.container{

  margin-top:40px;
  margin-bottom: 20px;
  .form-wrapper{
    width:40%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: auto;
    h4{
      text-align: center;
    }

    .full-width{
      width: 100%;
    }
  }
}
